/* Navbar  */

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
html {
  font-size: 62.5%;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background-color: #333;
  height: 7rem;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.logo h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ff3e54;
}
.nav-Btn {
  display: block;
}
.fa-bar {
  display: none;
}
.navlinks {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.navlinks li {
  cursor: pointer;
}

.navlinks li .link {
  text-decoration: none;
  color: #fffafa;
  font-size: 1.5rem;
  font-weight: 500;
}
.btn button {
  background-color: #ff3e54;
  color: #fff;
  font-weight: 500;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}
header {
  height: 7rem;
}
section {
  padding: 5rem;
}
/* hero section  */
.hero {
  background: url("/images/wavy.avif");

  background-size: cover;
  background-position: center;
}
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3rem;
}
.mb-hero-img {
  display: none;
}
.left {
  width: 50%;
}
.left h1 {
  font-size: 4rem;
  font-weight: 800;
  padding-bottom: 2rem;
  line-height: 5rem;
}
.left h3 {
  font-size: 2.2rem;
  font-weight: 600;
  padding-bottom: 2rem;
  line-height: 3rem;
}
.left p {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 4rem;
  line-height: 2.5rem;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.right div {
  height: 45rem;
  width: 45rem;
}
.hero-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* About section  */
.about {
  background-color: #333;
}
.about-section {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.about-left {
  width: 60rem;
  height: 40rem;
  border-radius: 1rem;
  width: 60%;
}
.right-img {
  display: none;
}
.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.about-right {
  color: #fff;
  width: 40%;
}
.about-right h3 {
  font-size: 1.75rem;
  color: #ff3e54;
  padding-bottom: 2rem;
  font-weight: 600;
}
.about-right h1 {
  font-size: 4rem;
  font-weight: 800;
  padding-bottom: 2rem;
}

.about-right p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding-bottom: 4rem;
}
.about-right p span {
  color: #ff3e54;
  font-weight: 600;
}
/* Process  */
.process h3,
.service h3,
.team h3,
.testimonial-sec h3,
.contact h3,
.blog-post h3 {
  font-size: 1.75rem;
  color: #ff3e54;
  padding-bottom: 1rem;
  font-weight: 600;
  text-align: center;
}
.process h1,
.service h1,
.team h1,
.testimonial h1,
.contact h1,
.blog-post h1 {
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
}

/* process Card  */
.card {
  background-color: #f7f7f7;
  padding: 4rem;
  border-radius: 1rem;
  transition: all 0.3s ease-in;
  background: url("/images/cardbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card:hover {
  transform: scale(1.05);
}
.card .icon-bg {
  width: 10rem;
  height: 10rem;
  background-color: #352f2f;
  padding: 2rem;
  border-radius: 1rem;
}
.card .icon-bg .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card h1 {
  font-size: 2rem;
  text-align: left;
  font-weight: 700;
  padding-top: 2rem;
}
.border {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}
.border1 {
  border: 2px solid #ff3e54;
  width: 8rem;
  border-radius: 2rem;
}
.border2 {
  border: 2px solid #ff3e54;
  width: 5rem;
  border-radius: 2rem;
}
.card p {
  font-size: 1.5rem;
  text-align: left;
  font-weight: 500;
  line-height: 2.5rem;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}

/* our-work section  */
.our-work {
  background-color: #febfcf;
}
.our-work-section {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 3rem;
}
.our-work-left {
  width: 45rem;
  height: 45rem;
  border-radius: 1rem;
  width: 60%;
}
.our-work-left-mb {
  display: none;
}
.our-work-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.our-work-right {
  color: #000000;
  width: 40%;
}
.our-work-right h3 {
  font-size: 1.75rem;
  color: #ff3e54;
  padding-bottom: 2rem;
  font-weight: 600;
}
.our-work-right h1 {
  font-size: 4rem;
  font-weight: 800;
  padding-bottom: 2rem;
}

.our-work-right p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding-bottom: 2rem;
}
.our-work-right p span {
  color: #ff3e54;
  font-weight: 600;
}
/* wwd card  */

.WWd {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 3rem;
}
.WWD-card {
  background-color: #f7f7f7;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.3s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1.5rem;
  cursor: pointer;
}
.WWD-card:hover {
  transform: scale(1.05);
}
.WWD-card .WWD-icon-bg {
  width: 5rem;
  height: 5rem;
  background-color: #e2dcdc;
  padding: 1rem;
  border-radius: 1rem;
}
.WWD-card .WWD-icon-bg .WWD-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.WWD-card-content {
  width: 50%;
}
.WWD-card-content h1 {
  font-size: 1.1rem;
  text-align: left;
  font-weight: 700;
  padding-top: 0;
  padding-bottom: 0;
  padding: 0.5rem 0;
}

.WWD-card-content p {
  font-size: 0.8rem;
  text-align: left;
  font-weight: 500;
  line-height: 1.25rem;
  padding: 0;
}
.process-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}
/* service card  */
.service-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}
/* leader card  */
.leader-card h2 {
  font-size: 1.75rem;
  font-weight: 600;
  color: #ff3e54;
  padding-bottom: 1rem;
  text-align: center;
}
.leader-card p {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}
.team-img {
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.team-img .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.team-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-top: 3rem;
}
/* .testimonia-card-*/
.testimonial-sec {
  background-color: #ff3e54;
}
.testimonia-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-items: center;
  margin-top: 3rem;
}
.testimonial-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 2rem;
  background: #e2dcdc;
  border-radius: 1rem;
}
.testimonial-img {
  width: 10rem;
  height: 10rem;
  border-radius: 20rem;
}
.testimonial-img .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20rem;
}
.testimonial-content {
  width: 70%;
}
.testimonial-content h2 {
  font-size: 2rem;
  font-weight: 800;
  padding-bottom: 1rem;
}
.testimonial-content p {
  font-size: 1.1rem;
  line-height: 1.75rem;
  color: #333;
  padding-bottom: 1rem;
  font-weight: 500;
}
.testimonial-content h4 {
  font-size: 1.25rem;
  font-weight: 700;
}
/* contact form and card  */
.contact-sec {
  background-color: #0e1f51;
  padding: 8rem;
}
.contact-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 3rem;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #fff;
  padding: 3rem;
  margin-top: 3rem;
  border-radius: 1rem;
  grid-column-start: 1;
  grid-column-end: 3;
}
.contact-form form input,
.contact-form form textarea {
  padding: 1.25rem 2rem;
  outline: none;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.5rem;
  width: 100%;
  background-color: #f7f7f7;
}
.contact h1 {
  color: #fff;
}
.contact-info {
  background-color: #fff;
  padding: 3rem;
  border-radius: 1rem;
  margin-top: 3rem;
}
.contact-card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact-card {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contact-info-content h3 {
  font-size: 1.75rem;
  color: #ff3e54;
  font-weight: 700;
  padding-bottom: 0.75rem;
}
.contact-info-content p {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}
.contact-img {
  width: 7rem;
  height: 7rem;
  padding: 2rem;
  background-color: #f7f7f7;
  border-radius: 1rem;
}
.contact-img .img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* follow icon  */
.follow-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.follow-icon {
  background-color: #ff3e54;
  padding: 2rem;
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
}
.follow-icon .img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.follow h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 2rem 0;
}
/* blog post  */
.blog-post-sec {
  background-color: #f7f7f7;
}
.post-card-container {
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}
.blog-img {
  height: 30rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.blog-img .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.blog-content h2 {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
}
.blog-content p {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 3rem;
}
.post-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-top: 3rem;
}
/* footer  */
.footer-1 h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #ff3e54;
}
.footer-1 p {
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 2.5rem;
  margin-top: 3rem;
}
.footer-follow-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}
.footer-2 h1,
.footer-3 h1,
.footer-4 h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #ff3e54;
}
.footer-border {
  width: 5rem;
  margin: 1.5rem 0;
}
.footer-2 ul {
  list-style: none;
}
.footer-2 ul li {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.7rem 0;
}
.footer-card {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer-info-content h3 {
  font-size: 1.75rem;
  color: #ff3e54;
  font-weight: 700;
  padding-bottom: 0.75rem;
}
.footer-info-content p {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}
.footer-img {
  width: 7rem;
  height: 7rem;
  padding: 2rem;
  background-color: #f7f7f7;
  border-radius: 1rem;
}
.footer-img .img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer-card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer-4 p {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 2.5rem;
}
.footer-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 3rem;
  border-radius: 1rem;
}
.footer-form input {
  padding: 1.25rem 2rem;
  outline: none;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.5rem;
  width: 100%;
  background-color: #f7f7f7;
}
.footer-sec {
  background-color: #0e1f51;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-items: center;
}

/* media queries  */
@media only screen and (max-width: 520px) {
  .nav-bar {
    padding: 1rem 1.5rem;
    position: fixed;
    width: 100%;
    height: 5rem;
  }
  header {
    height: 5rem;
  }
  .logo h1 {
    font-size: 2rem;
  }
  .navlinks {
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 4.9rem;
    left: -100%;
    background-color: #333;
    width: 100%;
    padding: 3rem;
    transition: all 0.3s ease-in;
  }
  .navlinks.open {
    left: 0;
  }
  .fa-bar {
    display: block;
    width: 2rem;
    height: 1.5rem;
    cursor: pointer;
  }
  .fa-bar .nav-menu {
    width: 100%;
    height: 100%;
  }
  .nav-Btn {
    display: none;
  }

  .btn button {
    padding: 1rem 1.5rem;
    font-size: 1.35rem;
  }
  section {
    padding: 2rem;
  }
  /* hero section  */
  .hero-section {
    gap: 2rem;
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .left h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
    line-height: 2.5rem;
    text-align: center;
  }
  .left h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
  }
  .left p {
    font-size: 1.1rem;
    padding-bottom: 2rem;
    line-height: 1.7rem;
    text-align: center;
  }
  .mb-hero-img {
    display: block;
    width: 80%;
    height: 80%;
    margin: auto;
    margin-bottom: 2rem;
  }
  .mb-hero-img .img {
    width: 100%;
    height: 100%;
  }
  .right div {
    display: none;
  }
  .hero-btn {
    display: flex;
    justify-content: center;
  }
  /* About section  */
  .about-section {
    align-items: center;
  }
  .about-left {
    display: none;
  }

  .about-right {
    width: 100%;
  }
  .right-img {
    display: block;
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }
  .right-img .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
  .about-right h3 {
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 1.25rem;
  }
  .about-right h1 {
    font-size: 2rem;
    padding-bottom: 1.25rem;
    text-align: center;
  }

  .about-right p {
    font-size: 1.2rem;
    line-height: 2.2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .about-btn {
    display: flex;
    justify-content: center;
  }
  /* Process  */
  .process h3,
  .service h3,
  .team h3,
  .testimonial-sec h3,
  .contact h3,
  .blog-post h3 {
    font-size: 1.3rem;
  }
  .process h1,
  .service h1,
  .team h1,
  .testimonial h1,
  .contact h1,
  .blog-post h1 {
    font-size: 2.5rem;
  }

  /* process Card  */
  .card {
    padding: 1.5rem;
    line-height: 3rem;
  }
  .card .icon-bg {
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    border-radius: 0.8rem;
  }
  .card .icon-bg .card-img {
    object-fit: contain;
  }
  .card h1 {
    font-size: 1.35rem;
    padding-top: 0.7rem;
  }
  .border {
    margin: 1rem 0;
    display: none;
  }
  .border1 {
    width: 4rem;
  }
  .border2 {
    width: 2.5rem;
  }

  .card p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin-top: 1.5rem;
  }

  /* our-work section  */
  .our-work-section {
    /* align-items: center; */
    gap: 1.5rem;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .our-work-left-mb {
    display: block;
  }
  .our-work-left {
    display: none;
  }

  .our-work-right {
    width: 70%;
  }
  .our-work-right h3 {
    font-size: 1.25rem;
    padding-bottom: 1.25rem;
  }
  .our-work-right h1 {
    font-size: 2rem;
    padding-bottom: 1.25rem;
  }

  .our-work-right p {
    font-size: 1.1rem;
    line-height: 1.75rem;
    padding-bottom: 1rem;
    font-weight: 500;
  }
  .our-work-section {
    align-items: center;
  }
  /* wwd card  */

  .WWd {
    align-items: self-start;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .WWD-card {
    display: none;
  }

  /* service card  */
  .service-card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  /* leader card  */
  .leader-card h2 {
    font-size: 1.5rem;
  }
  .leader-card p {
    padding-bottom: 3rem;
  }

  .team-img {
    width: 25rem;
    height: 20rem;
  }

  .team-card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  /* .testimonia-card-*/

  .testimonia-card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  /* contact form and card  */
  .contact-sec {
    padding: 3rem;
  }
  .contact-form {
    grid-template-columns: repeat(1, 1fr);
    gap: 0rem;
  }
  .contact-form form {
    padding: 2rem;
    grid-column-start: 0;
    grid-column-end: 0;
  }
  .contact-form form input,
  .contact-form form textarea {
    padding: 1.25rem 1.5rem;
    font-size: 1.35rem;
  }
  .contact-info {
    padding: 2rem;
  }
  .contact-card-container {
    gap: 2rem;
  }
  .contact-info-content h3 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }
  .contact-info-content p {
    font-size: 1.2rem;
    padding-bottom: 0.25rem;
  }
  .contact-img {
    width: 4.5rem;
    height: 4.5rem;
    padding: 1rem;
  }

  /* follow icon  */
  .follow-icon-container {
    gap: 0.7rem;
    justify-content: left;
  }
  .follow-icon {
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
  }
  .follow h1 {
    font-size: 1.5rem;
    text-align: left;
    padding: 1rem 0;
  }
  /* blog post  */

  .post-card-container {
    padding: 1.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  }
  .blog-img {
    height: 20rem;
  }

  .blog-content h2 {
    font-size: 1.5rem;
    font-weight: 800;
  }
  .blog-content p {
    font-size: 1.1rem;
    padding-bottom: 1.5rem;
  }
  .post-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-top: 3rem;
  }
  /* footer  */

  .footer-1 h1 {
    font-size: 2.5rem;
  }
  .footer-1 p {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 2rem;
  }
  .footer-follow-icon {
    margin-top: 2rem;
  }
  .footer-2 {
    order: 2;
  }
  .footer-3 {
    order: 3;
  }
  .footer-4 {
    order: 1;
  }
  .footer-1 {
    order: 4;
  }
  .footer-2 h1,
  .footer-3 h1,
  .footer-4 h1 {
    font-size: 1.5rem;
  }
  .footer-border {
    width: 3rem;
    margin: 1.2rem 0;
  }
  .footer-2 ul li {
    font-size: 1.3rem;
    padding: 0.8rem 0;
  }
  .footer-info-content h3 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }
  .footer-info-content p {
    font-size: 1.1rem;
  }
  .footer-img {
    width: 5rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  .footer-card-container {
    gap: 1rem;
  }
  .footer-4 p {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .footer-form {
    margin-top: 2rem;
  }
  .footer-form input {
    padding: 1.2rem 1.7rem;

    border-radius: 0.5rem;

    font-size: 1.25rem;
  }
  .footer-sec {
    background-color: #0e1f51;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    gap: 2rem;
    justify-items: left;
  }
}
@media only screen and (min-width: 520px) and (max-width: 650px) {
  .nav-bar {
    padding: 1rem 1.5rem;
    position: fixed;
    width: 100%;
    height: 5rem;
  }
  header {
    height: 5rem;
  }
  .logo h1 {
    font-size: 2rem;
  }
  .navlinks {
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 4.9rem;
    left: -100%;
    background-color: #333;
    width: 100%;
    padding: 3rem;
    transition: all 0.3s ease-in;
  }
  .navlinks.open {
    left: 0;
  }
  .fa-bar {
    display: block;
    width: 2rem;
    height: 1.5rem;
    cursor: pointer;
  }
  .fa-bar .nav-menu {
    width: 100%;
    height: 100%;
  }
  .nav-Btn {
    display: none;
  }

  .btn button {
    padding: 1rem 1.5rem;
    font-size: 1.35rem;
  }
  section {
    padding: 2rem;
  }
  /* hero section  */
  .hero-section {
    gap: 2rem;
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .left h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
    line-height: 2.5rem;
    text-align: center;
  }
  .left h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
  }
  .left p {
    font-size: 1.1rem;
    padding-bottom: 2rem;
    line-height: 1.7rem;
    text-align: center;
  }
  .mb-hero-img {
    display: block;
    width: 80%;
    height: 80%;
    margin: auto;
    margin-bottom: 2rem;
  }
  .mb-hero-img .img {
    width: 100%;
    height: 100%;
  }
  .right div {
    display: none;
  }
  .hero-btn {
    display: flex;
    justify-content: center;
  }
  /* About section  */
  .about-section {
    align-items: center;
  }
  .about-left {
    display: none;
  }

  .about-right {
    width: 100%;
  }
  .right-img {
    display: block;
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }
  .right-img .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
  .about-right h3 {
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 1.25rem;
  }
  .about-right h1 {
    font-size: 2rem;
    padding-bottom: 1.25rem;
    text-align: center;
  }

  .about-right p {
    font-size: 1.2rem;
    line-height: 2.2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .about-btn {
    display: flex;
    justify-content: center;
  }
  /* Process  */
  .process h3,
  .service h3,
  .team h3,
  .testimonial-sec h3,
  .contact h3,
  .blog-post h3 {
    font-size: 1.3rem;
  }
  .process h1,
  .service h1,
  .team h1,
  .testimonial h1,
  .contact h1,
  .blog-post h1 {
    font-size: 2.5rem;
  }

  /* process Card  */
  .card {
    padding: 1.5rem;
    line-height: 3rem;
  }
  .card .icon-bg {
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    border-radius: 0.8rem;
  }
  .card .icon-bg .card-img {
    object-fit: contain;
  }
  .card h1 {
    font-size: 1.35rem;
    padding-top: 0.7rem;
  }
  .border {
    margin: 1rem 0;
    display: none;
  }
  .border1 {
    width: 4rem;
  }
  .border2 {
    width: 2.5rem;
  }

  .card p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1.5rem;
  }

  /* our-work section  */
  .our-work-section {
    /* align-items: center; */
    gap: 1.5rem;
  }

  .our-work-left {
    width: 100%;
    height: 30rem;
    border-radius: 1rem;
  }

  .our-work-right {
    width: 70%;
  }
  .our-work-right h3 {
    font-size: 1.25rem;
    padding-bottom: 1.25rem;
  }
  .our-work-right h1 {
    font-size: 2rem;
    padding-bottom: 1.25rem;
  }

  .our-work-right p {
    font-size: 1.1rem;
    line-height: 1.75rem;
    padding-bottom: 1rem;
    font-weight: 500;
  }
  .our-work-section {
    align-items: center;
  }
  /* wwd card  */

  .WWd {
    align-items: self-start;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .WWD-card {
    display: none;
  }

  /* service card  */
  .service-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  /* leader card  */
  .leader-card h2 {
    font-size: 1.5rem;
  }
  .leader-card p {
    padding-bottom: 3rem;
  }

  .team-img {
    width: 25rem;
    height: 20rem;
  }

  .team-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  /* .testimonia-card-*/

  .testimonia-card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  /* contact form and card  */
  .contact-sec {
    padding: 3rem;
  }
  .contact-form {
    grid-template-columns: repeat(1, 1fr);
    gap: 0rem;
  }
  .contact-form form {
    padding: 2rem;
    grid-column-start: 0;
    grid-column-end: 0;
  }
  .contact-form form input,
  .contact-form form textarea {
    padding: 1.25rem 1.5rem;
    font-size: 1.35rem;
  }
  .contact-info {
    padding: 2rem;
  }
  .contact-card-container {
    gap: 2rem;
  }
  .contact-info-content h3 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }
  .contact-info-content p {
    font-size: 1.2rem;
    padding-bottom: 0.25rem;
  }
  .contact-img {
    width: 4.5rem;
    height: 4.5rem;
    padding: 1rem;
  }

  /* follow icon  */
  .follow-icon-container {
    gap: 0.7rem;
    justify-content: left;
  }
  .follow-icon {
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
  }
  .follow h1 {
    font-size: 1.5rem;
    text-align: left;
    padding: 1rem 0;
  }
  /* blog post  */

  .post-card-container {
    padding: 1.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  }
  .blog-img {
    height: 20rem;
  }

  .blog-content h2 {
    font-size: 1.5rem;
    font-weight: 800;
  }
  .blog-content p {
    font-size: 1.1rem;
    padding-bottom: 1.5rem;
  }
  .post-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-top: 3rem;
  }
  /* footer  */

  .footer-1 h1 {
    font-size: 2.5rem;
  }
  .footer-1 p {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 2rem;
  }
  .footer-follow-icon {
    margin-top: 2rem;
  }
  .footer-2 {
    order: 2;
  }
  .footer-3 {
    order: 3;
  }
  .footer-4 {
    order: 1;
  }
  .footer-1 {
    order: 4;
  }
  .footer-2 h1,
  .footer-3 h1,
  .footer-4 h1 {
    font-size: 1.5rem;
  }
  .footer-border {
    width: 3rem;
    margin: 1.2rem 0;
  }
  .footer-2 ul li {
    font-size: 1.3rem;
    padding: 0.8rem 0;
  }
  .footer-info-content h3 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }
  .footer-info-content p {
    font-size: 1.1rem;
  }
  .footer-img {
    width: 5rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  .footer-card-container {
    gap: 1rem;
  }
  .footer-4 p {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .footer-form {
    margin-top: 2rem;
  }
  .footer-form input {
    padding: 1.2rem 1.7rem;

    border-radius: 0.5rem;

    font-size: 1.25rem;
  }
  .footer-sec {
    background-color: #0e1f51;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    gap: 2rem;
    justify-items: left;
  }
}
/* media 800  */
@media only screen and (min-width: 650px) and (max-width: 900px) {
  .nav-bar {
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    height: 5rem;
  }
  header {
    height: 5rem;
  }
  .navlinks {
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 4.9rem;
    left: -100%;
    background-color: #333;
    width: 100%;
    padding: 3rem;
    transition: all 0.5s ease-in;
  }
  .navlinks.open {
    left: 0;
  }
  .fa-bar {
    display: block;
    width: 2.5rem;
    height: 2rem;
    cursor: pointer;
  }
  .fa-bar .nav-menu {
    width: 100%;
    height: 100%;
  }
  .nav-Btn {
    display: none;
  }

  .btn button {
    padding: 1rem 1.5rem;
    font-size: 1.35rem;
  }
  section {
    padding: 3rem;
  }
  /* hero section  */
  .hero-section {
    gap: 2rem;
  }

  .left h1 {
    font-size: 3rem;
    padding-bottom: 1.5rem;
    line-height: 3.5rem;
  }
  .left h3 {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  .left p {
    font-size: 1.2rem;
    padding-bottom: 3rem;
    line-height: 2rem;
  }

  .right div {
    height: 100%;
    width: 100%;
  }
  /* About section  */
  .about-section {
    align-items: center;
  }
  .about-left {
    width: 50rem;
    height: 25rem;
  }
  .about-left {
    width: 100%;
  }
  .about-right {
    width: 90%;
  }
  .about-right h3 {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .about-right h1 {
    font-size: 2.75rem;
    padding-bottom: 1.5rem;
  }

  .about-right p {
    font-size: 1.1rem;
    line-height: 2rem;
    padding-bottom: 2rem;
  }
  /* Process  */
  .process h3,
  .service h3,
  .team h3,
  .testimonial-sec h3,
  .contact h3,
  .blog-post h3 {
    font-size: 1.5rem;
  }
  .process h1,
  .service h1,
  .team h1,
  .testimonial h1,
  .contact h1,
  .blog-post h1 {
    font-size: 3rem;
  }

  /* process Card  */
  .card {
    padding: 2rem;
  }
  .card .icon-bg {
    width: 6rem;
    height: 6rem;
    padding: 1rem;
    border-radius: 0.8rem;
  }
  .card .icon-bg .card-img {
    object-fit: contain;
  }
  .card h1 {
    font-size: 1.5rem;
    padding-top: 1rem;
  }

  .border1 {
    width: 5rem;
  }
  .border2 {
    width: 3rem;
  }
  .card p {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 3rem;
  }

  /* our-work section  */
  .our-work-section {
    /* align-items: center; */
    gap: 2rem;
  }

  .our-work-left {
    width: 100%;
    height: 30rem;
    border-radius: 1rem;
  }

  .our-work-right {
    width: 70%;
  }
  .our-work-right h3 {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .our-work-right h1 {
    font-size: 2.75rem;
    padding-bottom: 1.5rem;
  }

  .our-work-right p {
    font-size: 1.2rem;
    line-height: 2rem;
    padding-bottom: 1.5rem;
    font-weight: 500;
  }

  /* wwd card  */

  .WWd {
    align-items: self-start;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .WWD-card {
    display: none;
  }

  /* service card  */
  .service-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  /* leader card  */
  .leader-card h2 {
    font-size: 1.5rem;
  }
  .leader-card p {
    padding-bottom: 3rem;
  }

  .team-img {
    width: 28rem;
    height: 25rem;
  }

  .team-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  /* .testimonia-card-*/

  .testimonia-card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  /* contact form and card  */
  .contact-sec {
    padding: 3rem;
  }
  .contact-form {
    grid-template-columns: repeat(4, 1fr);

    gap: 2rem;
  }
  .contact-form form {
    padding: 2rem;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .contact-form form input,
  .contact-form form textarea {
    padding: 1.25rem 1.5rem;
    font-size: 1.35rem;
  }
  .contact-info {
    padding: 2rem;
  }
  .contact-card-container {
    gap: 3rem;
  }
  .contact-info-content h3 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }
  .contact-info-content p {
    font-size: 1.2rem;
    padding-bottom: 0.25rem;
  }
  .contact-img {
    width: 4.5rem;
    height: 4.5rem;
    padding: 1rem;
  }

  /* follow icon  */
  .follow-icon-container {
    gap: 0.7rem;
  }
  .follow-icon {
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
  }
  .follow h1 {
    font-size: 1.5rem;

    padding: 1rem 0;
  }
  /* blog post  */

  .post-card-container {
    padding: 1.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  }
  .blog-img {
    height: 20rem;
  }

  .blog-content h2 {
    font-size: 1.5rem;
    font-weight: 800;
  }
  .blog-content p {
    font-size: 1.1rem;
    padding-bottom: 1.5rem;
  }
  .post-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 3rem;
  }
  /* footer  */

  .footer-1 h1 {
    font-size: 2.5rem;
  }
  .footer-1 p {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 2rem;
  }
  .footer-follow-icon {
    margin-top: 2rem;
  }
  .footer-2 {
    order: 3;
  }

  .footer-2 h1,
  .footer-3 h1,
  .footer-4 h1 {
    font-size: 1.5rem;
  }
  .footer-border {
    width: 3rem;
    margin: 1.2rem 0;
  }
  .footer-2 ul li {
    font-size: 1.3rem;
    padding: 0.8rem 0;
  }
  .footer-info-content h3 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }
  .footer-info-content p {
    font-size: 1.1rem;
  }
  .footer-img {
    width: 5rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  .footer-card-container {
    gap: 1rem;
  }
  .footer-4 p {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .footer-form {
    margin-top: 2rem;
  }
  .footer-form input {
    padding: 1.2rem 1.7rem;

    border-radius: 0.5rem;

    font-size: 1.25rem;
  }
  .footer-sec {
    background-color: #0e1f51;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 2rem;
    justify-items: center;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1100px) {
  html {
    font-size: 51%;
  }
}
